{% extends "contenido/encabezado.html" %}
{%block titulo%}Contacto{%endblock %}

{%block contenido%}

         <!-- Contact section-->
         <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contacto</h2>
                        <p class="lead">Dejanos tu mensaje por aquí y dinos que curso te interesó más</p>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nombre</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Apellido paterno</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Apellido materno</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Correo</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Cursos</label>
                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                  <option>PHP</option>
                                  <option>Python</option>
                                  <option>JS</option>
                                  <option>Angular</option>
                                  <option>SQL</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Mensaje</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </form>

                    </div>
                    
                    


                
                </div>
            </div>
        </section>

        
    
{%endblock %}
