{% extends "contenido/encabezado.html" %}
{%block titulo%} Cursos {%endblock %}

{%block contenido%}
    
     <!-- About section-->
     <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>UTM</h2>
                    <p class="lead">Cursos</p>
                    <ul>
                        <li>Base de datos SQL</li>
                        <li>PHP</li>
                        <li>Python</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
      
{%endblock %}
