

{% extends "contenido/encabezado.html" %}
{%block titulo%} Principal {%endblock %}

{%block contenido%}
    
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Hola Django</h1>
            <p class="lead">Este sitio hace referencia a nuestras practicas de clase sobre Django</p>
            <a class="btn btn-lg btn-light" href="#about">Comencemos</a>
        </div>
    </header>
     
        
{%endblock %}