<!-- <a href="/">Home</a>
<a href="/formulario">Registrar</a>
<a href="/contacto">Contactanos</a> -->

    {% extends "inicio/encabezado.html" %}
    {% block titulo %}
        Principal
    {% endblock %}

    {%block imagen%}
        {%load static%}
        {%static 'images/home.png'%}
    {% endblock%}

    {%block loc%}
        Principal
    {%endblock%}

    {%block des%}DSM{%endblock%}


    {%block encabezado%}
        <!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos 9A</small></h3>
				</div>

				
			</div>
			<!-- /Encabezado-->
    {%endblock%}


    {% block contenido %}
            <!-- Tabla de Alumnos -->
            <table class="table table-bordered tablestriped">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Turno</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                        <tr>
                            <td class="text-center">
                            <img src="{{alumno.imagen.url}}" alt="" class="img-media">
                            </td>
                            <td class="text-semibold">{{alumno.matricula}}</td>
                            <td class="muted">{{alumno.nombre}}</td>
                            <td class="muted">{{alumno.carrera}}</td>
                            <td class="muted">{{alumno.turno}}</td>
                            <td class="text-center">
                                <a href="{%url 'Editar_a' alumno.id_a%}">Editar</a>
                            </td>
                            <td class="text-center">
                                <a href="{%url 'Eliminar_a' alumno.id_a%}">Eliminar</a>
                            </td>
                            {% comment %} {%url 'EliminarA' comentario.id%} {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



    {% endblock %}

