

{% extends "contenido/encabezado.html" %}
{%block titulo%} Principal {%endblock %}
{%block section%}about{%endblock %}
{%block contenido%}
    
         <!-- About section-->
         
            <div class="container px-2">
                <div class="row gx-4 justify-content">
                    <div class="col-lg-8">
                        <h2>Hola Django</h2>
                        <p class="lead">Bienvenido a Django</p>
                       
                    </div>
                </div>
            

            <!-- Tabla de Alumnos -->
            <table class="table table-bordered tablestriped">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Duración</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                        <tr>
                            <td class="text-center">
                                <img src="{{curso.imagen.url}}" width="100" height="100" alt="" class="img-media">
                            </td>
                            <td class="muted">{{curso.nombre}}</td>
                            <td class="muted">{{curso.descripcion}}</td>
                            <td class="muted">{{curso.duracion_hrs}}</td>
                            <td class="muted">{{curso.instructor}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
            </div>

    {% comment %} <!-- Header-->

    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Hola Django</h1>
            <p class="lead">Este sitio hace referencia a nuestras practicas de clase sobre Django</p>
            <a class="btn btn-lg btn-light" href="#about">Comencemos</a>
        </div>
    </header> {% endcomment %}
     
        
{%endblock %}